/* global styles */

* {
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
font-smoothing: antialiased;
}

html {
background: url('../img/captain.png') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

body {
-webkit-text-size-adjust:100%;
overflow-x: hidden;
}

#social, #social2, #social3 {
list-style-type: none;
width:200px;
float:left;	
}

#social {
position: absolute;
bottom:0;
left:0;
}	

#social2 {
position: absolute;
bottom:0;
left:250px;
}

#social3 {
position: absolute;
bottom:0;
left:500px;
}

li {
color: #efefef;
font-size: 15px;
border-top: 1px dotted white;
padding:.4em;
font-family: "brandon-grotesque";
font-weight: 600;
}

a {
text-decoration: none;	
}

.links a li:hover {
color: #cccccc;	
}

.fa {
visibility: hidden;	
}

.icons li {
visibility: hidden;	
}



@media (max-width: 740px)  {
#social, #social2, #social3 {
display: none;	
}

.fa {
visibility: visible;
color: white;
}

.icons li {
list-style-type: none;	
border: none;
display: inline;
margin: 0 100px;
}

.icons {
right:30px;
position: fixed;

}

























