/* global styles */

* {
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
font-smoothing: antialiased;
}

html {
background: url('../img/captain.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
-webkit-text-size-adjust:100%;
overflow-x: hidden;
}

.links {
list-style-type: none;
width: 500px;
height: 90px;
position: absolute;
left:28%;
top:70%;	
}

li {
font-size: 15px;
display: inline;
padding:1.8em 1.6em;
}

span {
font-family: "brandon-grotesque";
font-weight: 600;
display: none;
}

a {
text-decoration: none;	
color: #efefef;
}

a:hover {
color: #cccccc;	
}

.fa {
display: none;
}


@media (max-width: 1270px)  {
.fa {
visibility: visible;
color: white;
}

span {
display: none;
}

li {
padding:20px;
}

.links {
top:50px;
left:-45px;
display: fixed;	
}

}





























